<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/homestyles.css">
    <title>Restaurant Home Page</title>
</head>

<body>
    <header>
        <h1>Hello <%= username %></h1>
        <h1>Welcome to Our Restaurant!</h1>
    </header>

    <main>
        <section class="functionality">
            <h2>View Menu</h2>
            <p>Explore our delicious menu with a variety of dishes.</p>
            <a href="/viewMenu">View Menu</a>
        </section>

        <section class="functionality">
            <h2>Make an Order</h2>
            <p>Place your order online and enjoy our fast delivery service.</p>
            <a href="/order">Make Order</a>
        </section>

        <section class="functionality">
            <h2>Make a Review</h2>
            <p>Share your feedback with us. Your opinion matters!</p>
            <a href="/review">Submit Review</a>
        </section>

        <section class="functionality">
            <h2>About Us</h2>
            <p>
                We are a passionate team dedicated to providing you with an exceptional dining experience.
                Our chefs create delicious and diverse dishes, and our goal is to make your visit memorable.
                Thank you for choosing our restaurant!
            </p>
            <a href="/aboutus">Learn More</a>
        </section>
    </main>
</body>

</html>
