body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
h1{
    color: white;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 20px;
    padding-left: 650px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    margin-bottom: 20px;
}
button {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

strong {
    margin-right: 5px;
}

.icons-container {
    display: flex;
}

.icons-container a {
    margin-right: 10px;
    color: #333;
    text-decoration: none;
}

.icons-container a:hover {
    color: #f00;
}

.fa {
    font-size: 20px;
}

.fa-trash-o:hover {
    color: #f00;
}

.fa-edit:hover {
    color: #00f;
}

p {
    text-align: center;
}